Source: lingmo-usb-creator
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: debhelper-compat (= 12),
               lingmo-sdk-waylandhelper-dev,
               lingmo-sdk-appcommon,
               libgsettings-qt-dev,
               libkf5windowsystem-dev,
               libpolkit-qt5-1-dev,
               libqt5x11extras5-dev,
               liblingmo-log4qt-dev,
               pkgconf,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-dev-tools,
               qtchooser,
               qtscript5-dev,
               lingmo-sdk-qtwidgets-dev,
               lingmo-sdk-soundeffects-dev,
               qttools5-dev-tools
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://github.com/LingmoOS/lingmo-usb-creator

Package: lingmo-usb-creator
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Usb boot maker
 USB Boot Maker provides system image making function.
 The operation process is simple and easy.
 You can choose iso image and usb driver and make boot driver
